body {
  font-family: 'montserrat', sans-serif;
}

.section__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.22727;
  margin-bottom: 12px;
}

.section__sub-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 16px;
  margin-bottom: 11px;
}

.section__sub-title--orange {
  color: #fb6d3a;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  color: #9b9b9b;
}

.date {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #a8a8a8;
  margin-bottom: 8px;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0px;
  padding: 0px;
}

a {
  display: block;
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  box-shadow: 6px 6px 20px;
  display: flex;
  flex-direction: row-reverse;
}

.main-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 105px 88px;
}

.section {
  max-width: 600px;
  padding-bottom: 45px;
}

.section:last-child {
  padding-bottom: 0;
}

.web-studio {
  color: #2196f3;
}

.resume {
  color: #fb6d3a;
}

.icecream {
  color: #d41443;
}

.smooth {
  color: #fcb875;
}

.hook__images {
  color: #3f51b5;
}

.phonebook {
  color: #43e6e6;
}

.lang__wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  top: -80px;
  left: 80px;
  color: #9b9b9b;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21429;
}

.lang__wrapper:hover {
  color: #fb6d3a;
}

.btn__wrapper {
  position: relative;
}

.btn__ru {
  position: relative;
  top: 0px;
  left: 50px;
  color: #9b9b9b;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21429;
}

.btn__ru:hover {
  color: #fb6d3a;
}

.btn__ua {
  position: relative;
  top: -17px;
  left: 50px;
  color: #9b9b9b;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21429;
}

.btn__ua:hover {
  color: #fb6d3a;
}

.link__wrapper {
  position: absolute;
  top: 100%;
}

.lang__wrapper:hover .btn__ru {
  transform: translateX(-90px);
}

.lang__wrapper:hover .btn__ua {
  transform: translateX(-114px);
}

.about-me__title {
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21429;
}

.about-me__title--main {
  color: #000000;
  margin-top: 20px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.22222;
}

.projects__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71429;
  color: #000000;
}

.projects__link:hover, .projects__link:focus {
  color: #fb6d3a;
}

.projects__link:hover .resume {
  color: #000000;
}

.work__item {
  display: flex;
  align-items: baseline;
}

.work__item::before {
  display: block;
  content: '';
  width: 5px;
  height: 5px;
  background-color: #9b9b9b;
  border: 1px solid #9b9b9b;
  border-radius: 50%;
  margin-right: 10px;
}

.education__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21429;
  color: #000000;
  margin-bottom: 12px;
}

.education__link:hover .img-goit {
  box-shadow: 0px 4px 4px;
}

.education__link:focus .img-goit {
  box-shadow: 0px 4px 4px;
}

.education__link--goit {
  max-width: 70px;
}

.img-goit {
  width: 100%;
  margin-bottom: 11px;
}

.education__link--nauoa {
  display: flex;
  align-items: center;
}

.img-nauoa {
  margin-right: 10px;
  height: 40px;
}

.education__link:hover .img-nauoa {
  box-shadow: 0px 4px 4px;
}

.education__link:focus .img-nauoa {
  box-shadow: 0px 4px 4px;
}

.education__link--wwa {
  display: flex;
  align-items: center;
}

.img-wwa {
  margin-right: 10px;
  height: 30px;
}

.education__link:hover .img-wwa {
  box-shadow: 0px 4px 4px;
}

.education__link:focus .img-wwa {
  box-shadow: 0px 4px 4px;
}

.education__link:hover .section__sub-title--orange {
  box-shadow: 0px 4px 4px;
}

.education__link:focus .section__sub-title--orange {
  box-shadow: 0px 4px 4px;
}

.hobby {
  display: flex;
  align-items: center;
}

.img-hobby {
  margin-right: 10px;
  height: 30px;
}

.sidebar {
  width: 480px;
  background-color: #2a1409;
}

.sidebar__img {
  display: block;
  margin-top: 40px;
}

.sidebar__list {
  margin-left: 40px;
  margin-top: 50px;
}

.sidebar__location {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  color: #ffffff;
}

.sidebar__item {
  display: flex;
  align-items: baseline;
}

.sidebar__item--contact {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71429;
  color: #ffffff;
}

.sidebar__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  margin-left: 10px;
  color: #9b9b9b;
}

.sidebar__link:hover,
.sidebar__link:focus {
  color: #ffffff;
}

.sidebar__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.22727;
  color: #ffffff;
  margin-bottom: 8px;
}

.sidebar__item--scills {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  color: #ffffff;
}

.sidebar__item--scills::before {
  content: '';
  display: block;
  margin-right: 8px;
  width: 5px;
  height: 5px;
  background-color: #fb6d3a;
  border-radius: 50%;
}
/*# sourceMappingURL=main.css.map */