.education__description {
  @include font-style($weight: 700, $size: 14px, $height: 17px);
  color: $title;
  margin-bottom: 12px;
}

.education__link {
}

.education__link:hover .img-goit {
  box-shadow: 0px 4px 4px;
}

.education__link:focus .img-goit {
  box-shadow: 0px 4px 4px;
}

.education__link--goit {
  max-width: 70px;
}

.img-goit {
  width: 100%;
  margin-bottom: 11px;
}

.education__link--nauoa {
  display: flex;
  align-items: center;
}

.img-nauoa {
  margin-right: 10px;
  height: 40px;
}

.education__link:hover .img-nauoa {
  box-shadow: 0px 4px 4px;
}

.education__link:focus .img-nauoa {
  box-shadow: 0px 4px 4px;
}

.education__link--wwa {
  display: flex;
  align-items: center;
}

.img-wwa {
  margin-right: 10px;
  height: 30px;
}

.education__link:hover .img-wwa {
  box-shadow: 0px 4px 4px;
}

.education__link:focus .img-wwa {
  box-shadow: 0px 4px 4px;
}

.education__link:hover .section__sub-title--orange {
  box-shadow: 0px 4px 4px;
}

.education__link:focus .section__sub-title--orange {
  box-shadow: 0px 4px 4px;
}
