.container {
  max-width: 1200px;
  margin: 40px auto;
  box-shadow: 6px 6px 20px;

  display: flex;
  flex-direction: row-reverse;
}

.main-container {
  position: relative;
  overflow: hidden;

  width: 100%;
  margin: 0 auto;
  padding: 105px 88px;
}

.section {
  max-width: 550px;
  padding-bottom: 45px;

  &:last-child {
    padding-bottom: 0;
  }
}
