h1,
h2,
h3,
p,
ul,
li {
  margin: 0px;
  padding: 0px;
}

a {
  display: block;
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
